---
import AppContainer from "../components/AppContainer.svelte";
import keybindingArray from "../data/application";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vim keybindings</title>
	</head>
	<body>
		<div class="flex flex-col items-center p-5">
			<h1>Vim keybindings</h1>
			<p>Keybinding references made by Ken using Astro</p>
		</div>
		<AppContainer client:idle keybindingArray={keybindingArray} />
	</body>
</html>
